@import "partials/base";

body{
	width : 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background: $white;
}

#index{
	width : 100%;
	height : 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
}

#mainnav{
	background: $black;

	.top-bar-section{
		a#link-upload{
			font-size: 0.75rem;
		}
		a#link-home{
			font-size: 0.725rem;
		}
		li{
			padding-right: 20px; 
			a:not(.button){
				background: transparent;
			}
		}
		span{
			display: inline-block;
			margin-right: 8px;
		}
	}
}

#user-overlay{
	display: block;
	position: absolute;
	width: 120px;
	overflow: hidden;
	top: 90%;
	right: 2%;
	box-shadow: 1px 1px 1px $black;
	
	.user-overlay-container{
		background-color: rgba(140, 140, 140, 0.5);
		ul{
			margin: 0;
		}
		li{
			text-align: center;

			a{
				font-size: $space_minus1;
				color: $white;
			}
		}
	}
}

#maincontent{
	overflow: hidden;
}

#maincontent:not(.home){
	padding-top: $space_plus1;
}

@media screen and (max-width: 640px){
	#mainnav{
		.top-bar-section{
			span{
				display: none;
			}
		}
	}
}




