/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/
.row {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.columns {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.full-width {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0; }

.space-plus1 {
  margin-top: 1.618rem;
  margin-bottom: 1.618rem; }

.space-plus2 {
  margin-top: 2.618rem;
  margin-bottom: 2.618rem; }

.space-plus3 {
  margin-top: 4.236rem;
  margin-bottom: 4.236rem; }

.space-plus4 {
  margin-top: 6.854rem;
  margin-bottom: 6.854rem; }

.space-plus5 {
  margin-top: 11.089rem;
  margin-bottom: 11.089rem; }

.space-plus6 {
  margin-top: 17.942rem;
  margin-bottom: 17.942rem; }

.space-plus7 {
  margin-top: 29.03rem;
  margin-bottom: 29.03rem; }

.space-plus8 {
  margin-top: 46.971rem;
  margin-bottom: 46.971rem; }

.space-minus1 {
  margin-top: 0.618rem;
  margin-bottom: 0.618rem; }

.space-minus2 {
  margin-top: 0.382rem;
  margin-bottom: 0.382rem; }

.space-minus3 {
  margin-top: 0.236rem;
  margin-bottom: 0.236rem; }

.space-minus4 {
  margin-top: 0.146rem;
  margin-bottom: 0.146rem; }

.space-minus5 {
  margin-top: 0.09rem;
  margin-bottom: 0.09rem; }

.space-minus6 {
  margin-top: 0.056rem;
  margin-bottom: 0.056rem; }

body {
  color: #ffffff; }

body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff; }

#index {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0; }

#mainnav {
  background: -moz-linear-gradient(top, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0.85)), color-stop(20%, rgba(14, 14, 14, 0.85)), color-stop(59%, rgba(7, 7, 7, 0.46)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9111111', endColorstr='#00000000',GradientType=0 ); }
  #mainnav .top-bar-section a#link-upload {
    font-size: 0.75rem; }
  #mainnav .top-bar-section li {
    padding-right: 20px; }
    #mainnav .top-bar-section li a:not(.button) {
      background: transparent; }
  #mainnav .top-bar-section span {
    display: inline-block;
    margin-right: 8px; }

#mainnav.nav-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111; }

#upload {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
  background: #111111;
  text-align: center; }
  #upload .upload-image-container {
    position: absolute;
    background-image: url('../img/global/top-img-bw.png');
    background-position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  #upload .upload-image-container:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(53%, rgba(9, 9, 9, 0.69)), color-stop(88%, #0f0f0f), color-stop(100%, #111111));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#111111',GradientType=0 );
    /* IE6-9 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  #upload .upload-button-container {
    position: absolute;
    display: block;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 100; }

#upload-button a#link-upload {
  font-size: 2rem;
  transition: font-size 0.5s; }
#upload-button a#link-upload:hover {
  font-size: 2.4rem; }

#link-upload {
  display: inline-block;
  color: #ffffff; }

#maincontent {
  overflow: hidden; }

@media screen and (max-width: 640px) {
  #mainnav .top-bar-section span {
    display: none; } }

#overlay {
  position: fixed;
  z-index: 199;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.9; }

#searchcontent {
  display: none;
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0px;
  z-index: 200; }
/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/
.row {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.columns {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.full-width {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0; }

.space-plus1 {
  margin-top: 1.618rem;
  margin-bottom: 1.618rem; }

.space-plus2 {
  margin-top: 2.618rem;
  margin-bottom: 2.618rem; }

.space-plus3 {
  margin-top: 4.236rem;
  margin-bottom: 4.236rem; }

.space-plus4 {
  margin-top: 6.854rem;
  margin-bottom: 6.854rem; }

.space-plus5 {
  margin-top: 11.089rem;
  margin-bottom: 11.089rem; }

.space-plus6 {
  margin-top: 17.942rem;
  margin-bottom: 17.942rem; }

.space-plus7 {
  margin-top: 29.03rem;
  margin-bottom: 29.03rem; }

.space-plus8 {
  margin-top: 46.971rem;
  margin-bottom: 46.971rem; }

.space-minus1 {
  margin-top: 0.618rem;
  margin-bottom: 0.618rem; }

.space-minus2 {
  margin-top: 0.382rem;
  margin-bottom: 0.382rem; }

.space-minus3 {
  margin-top: 0.236rem;
  margin-bottom: 0.236rem; }

.space-minus4 {
  margin-top: 0.146rem;
  margin-bottom: 0.146rem; }

.space-minus5 {
  margin-top: 0.09rem;
  margin-bottom: 0.09rem; }

.space-minus6 {
  margin-top: 0.056rem;
  margin-bottom: 0.056rem; }

body {
  color: #ffffff; }

.infinite-container {
  position: relative;
  overflow: hidden;
  margin-top: 0.236rem;
  margin-bottom: 0.236rem;
  margin-right: 0.236rem;
  margin-left: 0.236rem; }

#images {
  padding: 4px; }
  #images img {
    vertical-align: bottom; }
