@import "partials/base";

body{
	width : 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background: $white;
}

#index{
	width : 100%;
	height : 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
}

#mainnav{
	.top-bar-section{
		li{
			padding-right: 20px; 
		}
	}
}

#upload{
	position : relative;
	width: 100%;
	height: 230px;
	overflow: hidden;
	background: $black;
	text-align: center;

	.upload-image-container{
		position: absolute;
		background-image: url('../img/top-img.jpg');
		background-position: center;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.upload-image-container:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(9,9,9,0.69) 53%, rgba(15,15,15,1) 88%, rgba(17,17,17,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(53%,rgba(9,9,9,0.69)), color-stop(88%,rgba(15,15,15,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(9,9,9,0.69) 53%,rgba(15,15,15,1) 88%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(9,9,9,0.69) 53%,rgba(15,15,15,1) 88%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(9,9,9,0.69) 53%,rgba(15,15,15,1) 88%,rgba(17,17,17,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(9,9,9,0.69) 53%,rgba(15,15,15,1) 88%,rgba(17,17,17,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.upload-button-container{
		position: absolute;
		display: block;
		top: 80%;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: auto;
		margin: auto;
	}
}

#upload-button{

}

@import "pages/home";