@import "partials/base";

#overlay-background {
   	position: fixed;
   	z-index: 100;
   	top: 0%;
   	left: 0%;
   	height: 100%;
   	width: 100%;
   	background-color: $black;
   	opacity: 0.95;
}

.overlaycontent{
	position: fixed;
	top: 5%;
	width: 100%;	
	left: 0;
	z-index: 110;
}

#user-overlay{
	display: block;
	position: absolute;
	width: 120px;
	overflow: visible;
	top: 90%;
	right: 2%;
	box-shadow: 1px 1px 1px $black;
	
	.user-overlay-container{
		background-color: rgba(140, 140, 140, 0.9);
		border-radius: 1px;
		ul{
			margin: 0;
		}
		li{
			text-align: center;

			a{
				font-size: $space_minus1;
				color: $white;
			}
			a:hover{
				/*text-decoration: underline;*/
			}
		}
		li:hover{
			background-color: $white;

			a{
				color: $darkgrey;
			}
		}
	}
}

#user-overlay:before{
	content: "";
	position: absolute;
	top: -3%;
	left: 48%;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(140, 140, 140, 0.9);
}

.form-container{
	div{
		margin-top: $space_minus1;
		margin-bottom: $space_minus1;
	}

	.input-container{
		margin-top: $space_plus3;
	}
}

#search-button{
	float: right;
}

#search-input, #mail-input, #password-input{
	height: auto;
	font-size: $space_plus1;
	color: $white;
	border: 0;
	background: rgba(10, 10, 10, 0.0);
	padding: 0;
}

#search-input:focus, #mail-input:focus, #password-input:focus{
	border: 0;
	background: rgba(10, 10, 10, 0.0);
	box-shadow: none;
}

.close-button-container{
	position: absolute;
	display: block;
	width: auto;
	height: auto;
	top: 0%;
	right: 3%;
}

#back-button{
	margin-bottom: $space_plus1;
	font-size: $space_plus1;
	color: $white;
}

@media screen and (max-width: 640px){
	#user-overlay:before{
		left: 68%;
	}
}

@media screen and (max-width: 459px){
	#search-input, #mail-input, #password-input{
		font-size: 1rem;
	}

	#search-button{
		float: left;
	}
}