$space_plus1 : 1.618rem;
$space_plus2 : 2.618rem;
$space_plus3 : 4.236rem;
$space_plus4 : 6.854rem;
$space_plus5 : 11.089rem;
$space_plus6 : 17.942rem;
$space_plus7 : 29.03rem;
$space_plus8 : 46.971rem;

$space_minus1 : 0.618rem;
$space_minus2 : 0.382rem;
$space_minus3 : 0.236rem;
$space_minus4 : 0.146rem;
$space_minus5 : 0.09rem;
$space_minus6 : 0.056rem;