.overlayBackButton img{
	width:5%;
	height:5%;
}

.overlayButton{
    color: $lightgrey;
    height: auto;
    font-size: 100%;
    padding: 0.5em;
    font-family: "Segoe UI Light";
    border-width: 1px;
    border-style: solid;
    border-color: $lightgrey;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.overlayButton:hover{
	background-color: $lightgrey;
	color: $black;
	border-color:$lightgrey;
}

.overlayButton:focus{
	background-color: $lightgrey;
	color: $black;
	border-color:$lightgrey;
}

#registerButton{
	margin-right: 2%;
}

#loginButton{
	margin-right: 3%;
}

.normalButton{
	color: $black;
    height: auto;
    font-size: 100%;
    padding: 0.5em;
    font-family: "Segoe UI Light";
    border-width: 1px;
    border-style: solid;
    border-color: $black;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.normalButton:focus{
	background-color: $black;
	color: $lightgrey;
	border-color: rgba(0,0,0,0);
}

.normalButton:hover{
	background-color: $black;
	color: $lightgrey;
	border-color: rgba(0,0,0,0);
}