.button-overlay{
    color: $lightgrey;
    height: auto;
    font-size: 1rem;
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: $lightgrey;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.button-overlay:hover{
	background-color: $lightgrey;
	color: $black;
	border-color:$lightgrey;
}

.button-overlay:focus{
	background-color: $lightgrey;
	color: $black;
	border-color:$lightgrey;
}

.button-normal{
	color: $black;
    height: auto;
    font-size: 1rem;
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: $black;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.button-normal:focus{
	background-color: $black;
	color: $lightgrey;
	border-color: rgba(0,0,0,0);
}

.button-normal:hover{
	background-color: $black;
	color: $lightgrey;
	border-color: rgba(0,0,0,0);
}
