@font-face {
	font-family: $transcription;
	src: url("../fonts/goudy.otf");
}

@font-face{
	font-family: $segoe;
	src: url("../fonts/segoe-ui.ttf");
}

@font-face{
	font-family: $segoeli;
	src: url("../fonts/segoe-ui-light.ttf");
}

body{
	color: $white;
}

@mixin transcription-font(){
	font-family: $transcription;
}

@mixin interface-font(){
	font-family: $segoe;
}

@mixin interface-font(){
	font-family: $segoeli;
}