@font-face {
	font-family: $transcription;
	src: url("../fonts/goudy.otf");
}

body{
	color: $white;
}

@mixin transcription-font(){
	font-family: $transcription;
}

@mixin interface-font(){
	//font-family: $segoe;
	font-weight: 400;
}
