@import "../partials/base";

.results-container{
	overflow: hidden;
	/* padding: $space_minus1 $space_plus1; */
	padding-bottom: 0;

	.headline-container{
		margin-top: $space_minus1;
		margin-bottom: $space_minus1;
		padding-right: $space_minus1;
		padding-left: $space_minus1;
	}
}

@media screen and (max-width: 640px){
	.results-container{
		.headline-container{
			
		}
	}
}