@import "../partials/base";

/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/

body{
  color: black;
}

p.tiny{
	font-size: $space_minus1;
}

#headline{
	i{
		display: none;
	}
}

.section{
	display: none;
}

#notifications-header{
	text-align: center;
	a{
		margin-right: $space_minus1;
		span{
			vertical-align: bottom;
			font-size: $space_minus1;
			margin-left: -.25rem;
			margin-top: .6rem;
		}
	}
	a.active{
		color: black;
	}
	#reports span{
		color: $red;
	}
	#users span{
		color: $green;
	}
}

#overview{
	.graph{
		height: 15rem;
	}
}

#users-table-header{
	font-size: $space_minus1;
}

#users-table-content{
	.user-table-row{
		.user-unknown{opacity:.5}
		.user-new{color:$dark-yellow}
		.user-banned{color:$red}
		.user-deleted{color:$red}
		.user-unregistered{opacity:.5}
		.user-admin{color:$green}
	}
}

#reports-table-content{
	.report{
		width:33%;
	}
	.report-table-row{
		.report-ok{color:$grey}
		.report-default{color:black}
		.report-important{color:$red}
	}
}

#locations-content{
	#locations-map{
		height: 28rem;
		margin-bottom: $space_minus1;
	}
	#locations-table-container{
		height: 28rem;
		overflow-y: auto;
		#locations-add-header{
			padding-left: $space_minus1;
			padding-top: $space_minus1;
		}
	}
	.description button{
		float: right;
	}
}

#tags-content{
	#tagscontainer{
		.tag{
			display: inline-block;
			padding: $space_minus1;
			margin: $space_minus3;
			font-size: $space_minus1;
			background: #eee;
			color: #555;
		}
	}
}

#types-content{
	.type{
		padding: $space_minus1;
		margin: $space_minus3;
		font-size: $space_minus1;
		background: #eee;
		color: #555;
		.input{
			display: none;
			width: 90%;
		}
		.edit{
			text-align: right;
		}
	}
}