/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/
.row {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.columns {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.full-width {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0; }

.space-plus1 {
  margin-top: 1.618rem;
  margin-bottom: 1.618rem; }

.space-plus2 {
  margin-top: 2.618rem;
  margin-bottom: 2.618rem; }

.space-plus3 {
  margin-top: 4.236rem;
  margin-bottom: 4.236rem; }

.space-plus4 {
  margin-top: 6.854rem;
  margin-bottom: 6.854rem; }

.space-plus5 {
  margin-top: 11.089rem;
  margin-bottom: 11.089rem; }

.space-plus6 {
  margin-top: 17.942rem;
  margin-bottom: 17.942rem; }

.space-plus7 {
  margin-top: 29.03rem;
  margin-bottom: 29.03rem; }

.space-plus8 {
  margin-top: 46.971rem;
  margin-bottom: 46.971rem; }

.space-minus1 {
  margin-top: 0.618rem;
  margin-bottom: 0.618rem; }

.space-minus2 {
  margin-top: 0.382rem;
  margin-bottom: 0.382rem; }

.space-minus3 {
  margin-top: 0.236rem;
  margin-bottom: 0.236rem; }

.space-minus4 {
  margin-top: 0.146rem;
  margin-bottom: 0.146rem; }

.space-minus5 {
  margin-top: 0.09rem;
  margin-bottom: 0.09rem; }

.space-minus6 {
  margin-top: 0.056rem;
  margin-bottom: 0.056rem; }

@font-face {
  font-family: "Goudy";
  src: url("../fonts/goudy.otf"); }

body {
  color: #ffffff; }

.button-overlay {
  color: #cbcdc7;
  height: auto;
  font-size: 1rem;
  padding: 0.5em;
  font-family: "Segoe UI Light";
  border-width: 1px;
  border-style: solid;
  border-color: #cbcdc7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.button-overlay:hover {
  background-color: #cbcdc7;
  color: #111111;
  border-color: #cbcdc7; }

.button-overlay:focus {
  background-color: #cbcdc7;
  color: #111111;
  border-color: #cbcdc7; }

.button-normal {
  color: #111111;
  height: auto;
  font-size: 1rem;
  padding: 0.5em;
  font-family: "Segoe UI Light";
  border-width: 1px;
  border-style: solid;
  border-color: #111111;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.button-normal:focus {
  background-color: #111111;
  color: #cbcdc7;
  border-color: rgba(0, 0, 0, 0); }

.button-normal:hover {
  background-color: #111111;
  color: #cbcdc7;
  border-color: rgba(0, 0, 0, 0); }

input[type="text"]#searchField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 5%;
  border: none;
  outline: none;
  font-family: "Segoe UI light"; }

input#register_input {
  margin-left: 5%;
  font-family: "Segoe UI";
  font-size: 100%; }

label#register-label {
  color: #111111;
  font: "Segoe UI";
  margin-left: 5%;
  margin-bottom: 0%;
  margin-top: 2%; }

input[type="email"].loginField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 5% 5% 2% 5%;
  border: none;
  outline: none;
  font-family: "Segoe UI light"; }

input[type="password"].loginField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 0% 5% 5% 5%;
  border: none;
  outline: none;
  font-family: "Segoe UI light"; }

::-moz-placeholder {
  color: #cbcdc7; }

::-webkit-input-placeholder {
  color: #cbcdc7; }

:-ms-input-placeholder {
  color: #cbcdc7; }

/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/
body {
  color: black; }

#hoverLoginMenu {
  display: none;
  position: fixed;
  right: 0; }

.details {
  padding: 1.618rem;
  padding-top: 0; }

#controlpanel {
  display: none;
  padding-left: 32px;
  font-size: 0.75rem; }

#controlpanel #deleteentry {
  margin-left: 32px; }

#image-container #image {
  width: 100%; }

#image-container {
  text-align: center;
  padding-top: 6px; }

#title {
  font-size: 2rem; }

#artist {
  font-size: 0.5rem;
  font-style: italic;
  margin-bottom: 1rem; }

#sex {
  width: 1rem;
  height: 1rem;
  float: left; }

#sex.icon-male {
  color: #32a2b8; }

#sex.icon-female {
  color: #d22091; }

#location {
  font-size: 0.5rem;
  text-align: right; }

#type {
  font-size: 0.5rem;
  text-align: right; }

#tags .tag {
  font-size: 0.5rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
  background: #eee;
  color: #555;
  cursor: pointer; }

#upload-info {
  font-size: 0.5rem;
  text-align: right; }

#transcription {
  margin-top: 1rem; }

#transcription #content {
  font-size: 0.5rem; }

#transcription #content .missing {
  background: #eee;
  font-style: italic;
  font-size: 0.75rem;
  color: #555;
  padding: 0.25rem; }

#rating .inline {
  display: inline; }

#rating .thumbs {
  opacity: 0.25; }

#rating .thumbs {
  padding-top: 6px;
  cursor: pointer;
  font-size: 0.75rem; }

#rating .thumbs.mine {
  opacity: 1; }

#outer-rating {
  background-color: #ff4444;
  height: 5px;
  width: 0px; }

#inner-rating {
  background-color: #99cc00;
  height: 100%; }

#ratingcountwrapper {
  font-size: 0.5rem;
  font-style: italic; }

#thumbsdown #thumbs-down {
  vertical-align: sub; }

.comment {
  background: #eee;
  padding: 0.75rem;
  margin-bottom: 0.5rem; }

.comment i {
  cursor: pointer; }

.comment .author {
  font-size: 0.5rem; }

.comment .date {
  font-size: 0.5rem;
  float: right; }

.comment .text {
  margin-top: 0.25rem;
  font-size: 0.75rem; }

.comment .missing {
  font-size: 0.5rem;
  font-style: italic; }

#report {
  text-align: right;
  margin-top: -20px;
  font-size: 0.75rem; }

#report i {
  padding-right: 6px;
  padding-top: 6px;
  opacity: 0.25;
  cursor: pointer; }

#report-icon:hover {
  color: #ff4444;
  opacity: 1; }

#comments-header {
  padding-bottom: 6px; }
