@import "../partials/base";

/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/

body{
  color: black;
}

#hoverLoginMenu{
  display: none;
  position: fixed;
  right: 0;
}

.details{
  padding: 32px;
}

#controlpanel{
  display: none;
  padding-top: 32px;
  padding-left: 32px;
  font-size: .75em;
}
#controlpanel #deleteentry{
  margin-left: 32px;
}

#image-container #image{
  width: 100%;
}

#title{
  font-size: 2em;
}

#artist{
  font-size: .5em;
  font-style: italic;
  margin-bottom: 1em;
}

#sex{
  width: 1em;
  height: 1em;
  float: left;
}

#sex.icon-male{
  color: #009ee0;
}

#sex.icon-female{
  color: #e1007a;
}

#location{
  font-size: .5em;
  text-align: right;
}

#tags .tag{
  font-size: .5em;
  padding: .25em;
  margin-right: .5em;
  background: #eee;
  color: #555;
}

#upload-info{
  font-size: .5em;
  text-align: right;
}

#transcription{
  margin-top: 1em;
}

#transcription #content{
  font-size: .5em;
}

#transcription #content .missing{
  background: #eee;
  color: #555;
  padding: .25em;
}

#rating .inline{
  display: inline;
}

#rating .thumbs{
  opacity: .25;
}

#rating .thumbs img{
  padding-top: 6px;
  cursor: pointer;
}

#rating .thumbs.mine{
  opacity: 1;
}

#outer-rating{
  background-color: #ff4444;
  height: 5px;
  width: 0px;
}

#inner-rating{
  background-color: #99cc00;
  height: 100%;
}

#ratingcountwrapper{
  font-size: .5em;
  font-style: italic;
}

.comment{
  background: #eee;
  padding: .75em;
  margin-bottom: .5em;
}

.comment i{
  cursor: pointer;
}

.comment .author{
  font-size: .5em;
}

.comment .date{
  font-size: .5em;
  float: right;
}

.comment .text{
  margin-top: .25em;
  font-size: .75em;
}

.comment .missing{
  font-size: .66em;
  font-style: italic;
}

#report{
  text-align: right;
  margin-top: -22px;
}

#report i{
  padding-right: 6px;
  padding-top: 6px;
  cursor: pointer;
}

#report-icon:hover{
  color: #ff4444;
}