@import "../partials/base";

#details-maincontent{
	z-index:88;
}
#entry-info{
	color: $black;
	margin-left: 20px;
	font-family: $segoe;
}
#entry-info-content{
	margin-top: 5%;
}

#entry-img{
	float: left;
	margin-right: 5%;
}

#entry-location{
	margin: 2%;

}

#entry-title{
	font-size: 2em;
	font-family: $segoeli;
}

#entry-tags{
	clear: left;
	overflow: hidden;
	margin-top: 2%;

}

#thumbs-up{
	position:absolute;
	left: 60px;
}

.tag{
	border-style: solid;
	border-width: 1px;
	border-color:$lightgrey;
	border-radius:30px;
	color: $black;
	margin:2%;
	padding:2%;
	float: left;
	font-family: $segoeli;
	font-size: medium;
}

#entry-rating{
	clear: left;
	margin-top: 30px;
}

#thumbs-up{
	margin-left: 20px;
}

#details-maincontent{
	margin-top: 40x;
}