@import "../partials/base";

.infinite-container{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	@include vertical-margin($space_minus3, 0);
	@include horizontal-margin($space_minus3, $space_minus3);
}

#images{
	padding: 4px;

	img{
		vertical-align: bottom;
	}
}

.jg-image{
	overflow: hidden;
}

.transcription-container{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	/*font-size: $space_minus1;*/
	z-index: 3;
	cursor: pointer;

	div{
		display: table-cell;
		position: relative;
		vertical-align: middle;
		width: inherit;
		@include transcription-font();
	}
}

span.transcription{
	display: inline-block;
	color: $white;
	position: relative;
	width: inherit;
	max-width: inherit;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: normal;
	/*text-overflow: ellipsis;*/
	line-height: $space_plus1;
}

.overlay{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 2;
}

.overlaytouch{
	display: block;
	position: absolute;
	width: 100%;
	height: 30%;
	top: 0;
	opacity: 0.5;
	z-index: 2;
	max-height: 80px;
}

.women{
	@extend .overlay;
	background-color: $pink;
}

.men{
	@extend .overlay;
	background-color: $blue;
}

.unisex{
	@extend .overlay;
	background-color: $darkgrey;
}

.women-touch{
	@extend .overlaytouch;
	background-color: $pink;
}

.men-touch{
	@extend .overlaytouch;
	background-color: $blue;
}

.unisex-touch{
	@extend .overlaytouch;
	background-color: $darkgrey;
}

.transcription-container-touch{
	display: block;
	position: absolute;
	width: 100%;
	top: 2%;
	text-align: center;
	font-size: $space_minus1;
	z-index: 3;

	div{
		display: block;
		position: relative;
		width: inherit;
		@include transcription-font();
	}
}

.transcription-container-touch span.transcription{
	display: inline-block;
	position: relative;
	width: inherit;
	max-width: inherit;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: $space_plus1;
}

.error-message{
	display: block;
	width: 300px;
	margin: $space_minus1 auto;
}

.loading-spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  top: 5%;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}