/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/
.row {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.columns {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.full-width {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0; }

.space-plus1 {
  margin-top: 1.618rem;
  margin-bottom: 1.618rem; }

.space-plus2 {
  margin-top: 2.618rem;
  margin-bottom: 2.618rem; }

.space-plus3 {
  margin-top: 4.236rem;
  margin-bottom: 4.236rem; }

.space-plus4 {
  margin-top: 6.854rem;
  margin-bottom: 6.854rem; }

.space-plus5 {
  margin-top: 11.089rem;
  margin-bottom: 11.089rem; }

.space-plus6 {
  margin-top: 17.942rem;
  margin-bottom: 17.942rem; }

.space-plus7 {
  margin-top: 29.03rem;
  margin-bottom: 29.03rem; }

.space-plus8 {
  margin-top: 46.971rem;
  margin-bottom: 46.971rem; }

.space-minus1 {
  margin-top: 0.618rem;
  margin-bottom: 0.618rem; }

.space-minus2 {
  margin-top: 0.382rem;
  margin-bottom: 0.382rem; }

.space-minus3 {
  margin-top: 0.236rem;
  margin-bottom: 0.236rem; }

.space-minus4 {
  margin-top: 0.146rem;
  margin-bottom: 0.146rem; }

.space-minus5 {
  margin-top: 0.09rem;
  margin-bottom: 0.09rem; }

.space-minus6 {
  margin-top: 0.056rem;
  margin-bottom: 0.056rem; }

@font-face {
  font-family: "Goudy";
  src: url("../fonts/goudy.otf"); }

body {
  color: #ffffff; }

.button-overlay {
  color: #cbcdc7;
  height: auto;
  font-size: 1rem;
  padding: 0.5em;
  font-family: "Segoe UI Light";
  border-width: 1px;
  border-style: solid;
  border-color: #cbcdc7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.button-overlay:hover {
  background-color: #cbcdc7;
  color: #111111;
  border-color: #cbcdc7; }

.button-overlay:focus {
  background-color: #cbcdc7;
  color: #111111;
  border-color: #cbcdc7; }

.button-normal {
  color: #111111;
  height: auto;
  font-size: 1rem;
  padding: 0.5em;
  font-family: "Segoe UI Light";
  border-width: 1px;
  border-style: solid;
  border-color: #111111;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.button-normal:focus {
  background-color: #111111;
  color: #cbcdc7;
  border-color: rgba(0, 0, 0, 0); }

.button-normal:hover {
  background-color: #111111;
  color: #cbcdc7;
  border-color: rgba(0, 0, 0, 0); }

input[type="text"]#searchField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 5%;
  border: none;
  outline: none;
  font-family: "Segoe UI light"; }

input#register_input {
  margin-left: 5%;
  font-family: "Segoe UI";
  font-size: 100%; }

label#register-label {
  color: #111111;
  font: "Segoe UI";
  margin-left: 5%;
  margin-bottom: 0%;
  margin-top: 2%; }

input[type="email"].loginField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 5% 5% 2% 5%;
  border: none;
  outline: none;
  font-family: "Segoe UI light"; }

input[type="password"].loginField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 0% 5% 5% 5%;
  border: none;
  outline: none;
  font-family: "Segoe UI light"; }

::-moz-placeholder {
  color: #cbcdc7; }

::-webkit-input-placeholder {
  color: #cbcdc7; }

:-ms-input-placeholder {
  color: #cbcdc7; }

#mainnav {
  background: -moz-linear-gradient(top, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0.85)), color-stop(20%, rgba(14, 14, 14, 0.85)), color-stop(59%, rgba(7, 7, 7, 0.46)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0.85) 0%, rgba(14, 14, 14, 0.85) 20%, rgba(7, 7, 7, 0.46) 59%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9111111', endColorstr='#00000000',GradientType=0 ); }

#mainnav.nav-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111; }

#maincontent {
  overflow: hidden;
  margin-top: 0; }

#upload {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
  background: #111111;
  text-align: center; }
  #upload .upload-image-container {
    position: absolute;
    background-image: url('../../img/global/top-img-bw.jpg');
    background-position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  #upload .upload-image-container:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(53%, rgba(9, 9, 9, 0.69)), color-stop(88%, #0f0f0f), color-stop(100%, #111111));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.69) 53%, #0f0f0f 88%, #111111 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#111111',GradientType=0 );
    /* IE6-9 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  #upload .upload-button-container {
    position: absolute;
    display: block;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 100; }

#upload-button a#link-upload {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-size: 1.8rem; }
#upload-button a#link-upload:hover:after {
  position: absolute;
  display: block;
  top: -17px;
  left: -9px;
  width: 75px;
  height: 75px;
  content: "";
  background: url('../../img/global/hover.png');
  background-size: contain; }

.infinite-container {
  position: relative;
  overflow: hidden;
  margin-top: 0.236rem;
  margin-bottom: 0.236rem;
  padding-right: 0.236rem;
  padding-left: 0.236rem; }

.tabs {
  /*@include horizontal-margin($space_minus3, $space_minus3);*/ }
  .tabs dd {
    width: 33.3%; }
    .tabs dd a {
      margin-left: auto;
      margin-right: auto;
      text-align: center; }

#images {
  padding: 4px; }
  #images img {
    vertical-align: bottom; }

.images-vote {
  display: block;
  width: 60% !important;
  margin-left: auto;
  margin-right: auto; }

/*

.jg-image{
	overflow: hidden;
}

.transcription-container{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 3;
	cursor: pointer;

	div{
		display: table-cell;
		position: relative;
		vertical-align: middle;
		width: inherit;
		@include transcription-font();
	}
}

span.transcription{
	display: inline-block;
	position: relative;
	width: inherit;
	max-width: inherit;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: normal;
	line-height: $space_plus1;
}

.overlay{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 2;
}

.overlaytouch{
	display: block;
	position: absolute;
	width: 100%;
	height: 30%;
	top: 0;
	opacity: 0.5;
	z-index: 2;
	max-height: 80px;
}

.women{
	@extend .overlay;
	background-color: $pink;
}

.men{
	@extend .overlay;
	background-color: $blue;
}

.unisex{
	@extend .overlay;
	background-color: $darkgrey;
}

.women-touch{
	@extend .overlaytouch;
	background-color: $pink;
}

.men-touch{
	@extend .overlaytouch;
	background-color: $blue;
}

.unisex-touch{
	@extend .overlaytouch;
	background-color: $darkgrey;
}

.transcription-container-touch{
	display: block;
	position: absolute;
	width: 100%;
	top: 2%;
	text-align: center;
	font-size: $space_minus1;
	z-index: 3;

	div{
		display: block;
		position: relative;
		width: inherit;
		@include transcription-font();
	}
}

.transcription-container-touch span.transcription{
	display: inline-block;
	position: relative;
	width: inherit;
	max-width: inherit;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: $space_plus1;
}

*/
.vote-container {
  display: none;
  text-align: center;
  margin: 0.618rem 0;
  height: auto; }
  .vote-container .vote-icon-container {
    display: inline-block;
    height: 50px;
    width: 100%;
    color: #111111;
    font-size: 1.618rem; }
    .vote-container .vote-icon-container i {
      background-color: #ffffff;
      color: #111111;
      cursor: pointer;
      margin-top: 1.618rem;
      margin-bottom: 1.618rem;
      padding: 0.618rem;
      border: solid 1px #cbcdc7;
      border-radius: 4px;
      transition: all 0.3s ease; }
    .vote-container .vote-icon-container i:hover {
      color: #ffffff;
      background-color: #111111; }

.message-container {
  text-align: center; }
  .message-container .message {
    font-size: 0.618rem;
    color: #111111; }
