@import "../partials/base";

.infinite-container{
	position: relative;
	overflow: hidden;
	@include vertical-margin($space_minus3, $space_minus3);
	@include horizontal-margin($space_minus3, $space_minus3); 
}

#images{
	padding: 4px;

	img{
		vertical-align: bottom;
	}
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.6;

	span{
		
	}
}

.overlay-women{
	@extend .overlay;
	background-color: $pink;
}

.overlay-men{
	@extend .overlay;
	background-color: $blue;
}

