@import "../partials/base";

.infinite-container{
	position: relative;
	overflow: hidden;
	@include vertical-margin($space_minus3, $space_minus3);
	@include horizontal-margin($space_minus3, $space_minus3); 
}

#images{
	padding: 4px;

	img{
		vertical-align: bottom;
	}
}

