@import "../partials/base";

.infinite-container{
	position: relative;
	overflow: hidden;
	@include vertical-margin($space_minus3, $space_minus3);
	@include horizontal-margin($space_minus3, $space_minus3); 
}

.tabs{
	/*@include horizontal-margin($space_minus3, $space_minus3);*/

	dd{
		width: 333px/1000px * 100%;

		a{
			margin-left: auto;
			margin-right: auto; 
			text-align: center;
		}
	}	
}

#images{
	padding: 4px;

	img{
		vertical-align: bottom;
	}
}

.jg-image{
	overflow: hidden;
}

.overlay{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 2;
}

.transcription-container{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	/*font-size: $space_minus1;*/
	z-index: 3;
	cursor: pointer;

	div{
		display: table-cell;
		position: relative;
		vertical-align: middle;
		width: inherit;
		@include transcription-font();
	}
}

span.transcription{
	display: inline-block;
	position: relative;
	width: inherit;
	max-width: inherit;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: normal;
	/*text-overflow: ellipsis;*/
	line-height: $space_plus1;
}

.women{
	@extend .overlay;
	background-color: $pink;
}

.men{
	@extend .overlay;
	background-color: $blue;
}

.unisex{
	@extend .overlay;
	background-color: $darkgrey;
}

