@import "../partials/base";

.register-forms-container{
	overflow: hidden;
	margin: $space_minus1 $space_plus1;

	.row{
		margin-right: auto;
		margin-left: auto;

		.columns{
			padding-right: $space_minus1;
			padding-left: $space_minus1;
		}
	}

	.headline-container{
		margin-top: $space_minus1;
		margin-bottom: $space_minus1;
		padding-right: $space_minus1;
		padding-left: $space_minus1;
	}
}

.form-register{
	label{
		float: right;
	}

	.row{
		margin-top: $space_minus1;
		margin-bottom: $space_minus1;
	}
	.error-password, .error-username{
		display: none;
	}
	.tou-container{
		label {
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 640px){
	.register-forms-container{
		margin: $space_minus1 $space_minus1;
	}

	.form-register{
		label{
			float: left;
		}
	}
}


