/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/
.row {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.columns {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.full-width {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0; }

.space-plus1 {
  margin-top: 1.618rem;
  margin-bottom: 1.618rem; }

.space-plus2 {
  margin-top: 2.618rem;
  margin-bottom: 2.618rem; }

.space-plus3 {
  margin-top: 4.236rem;
  margin-bottom: 4.236rem; }

.space-plus4 {
  margin-top: 6.854rem;
  margin-bottom: 6.854rem; }

.space-plus5 {
  margin-top: 11.089rem;
  margin-bottom: 11.089rem; }

.space-plus6 {
  margin-top: 17.942rem;
  margin-bottom: 17.942rem; }

.space-plus7 {
  margin-top: 29.03rem;
  margin-bottom: 29.03rem; }

.space-plus8 {
  margin-top: 46.971rem;
  margin-bottom: 46.971rem; }

.space-minus1 {
  margin-top: 0.618rem;
  margin-bottom: 0.618rem; }

.space-minus2 {
  margin-top: 0.382rem;
  margin-bottom: 0.382rem; }

.space-minus3 {
  margin-top: 0.236rem;
  margin-bottom: 0.236rem; }

.space-minus4 {
  margin-top: 0.146rem;
  margin-bottom: 0.146rem; }

.space-minus5 {
  margin-top: 0.09rem;
  margin-bottom: 0.09rem; }

.space-minus6 {
  margin-top: 0.056rem;
  margin-bottom: 0.056rem; }

@font-face {
  font-family: "Goudy";
  src: url("../fonts/goudy.otf"); }

body {
  color: #ffffff; }

.overlayBackButton img {
  width: 5%;
  height: 5%; }

.overlayButton {
  color: #cbcdc7;
  height: auto;
  font-size: 100%;
  padding: 0.5em;
  font-family: "Segoe UI Light";
  border-width: 1px;
  border-style: solid;
  border-color: #cbcdc7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.overlayButton:hover {
  background-color: #cbcdc7;
  color: #111111;
  border-color: #cbcdc7; }

.overlayButton:focus {
  background-color: #cbcdc7;
  color: #111111;
  border-color: #cbcdc7; }

#registerButton {
  margin-right: 2%; }

#loginButton {
  margin-right: 3%; }

.normalButton {
  color: #111111;
  height: auto;
  font-size: 100%;
  padding: 0.5em;
  font-family: "Segoe UI Light";
  border-width: 1px;
  border-style: solid;
  border-color: #111111;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.normalButton:focus {
  background-color: #111111;
  color: #cbcdc7;
  border-color: rgba(0, 0, 0, 0); }

.normalButton:hover {
  background-color: #111111;
  color: #cbcdc7;
  border-color: rgba(0, 0, 0, 0); }

input[type="text"]#searchField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 5%;
  border: none;
  outline: none;
  font-family: "Segoe UI light"; }

input.register_input {
  margin-left: 5%;
  font-family: "Segoe UI";
  font-size: 100%; }

label#register-label {
  color: #111111;
  font: "Segoe UI";
  margin-left: 5%;
  margin-bottom: 0%;
  margin-top: 2%; }

input[type="email"].loginField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 5% 5% 2% 5%;
  border: none;
  outline: none;
  font-family: "Segoe UI light"; }

input[type="password"].loginField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 0% 5% 5% 5%;
  border: none;
  outline: none;
  font-family: "Segoe UI light"; }

::-moz-placeholder {
  color: #cbcdc7; }

::-webkit-input-placeholder {
  color: #cbcdc7; }

:-ms-input-placeholder {
  color: #cbcdc7; }

#searchresults-maincontent {
  margin-top: 40px; }

.list-template {
  border: 1px;
  border-color: #cbcdc7;
  border-style: solid;
  padding: 10px;
  color: #111111;
  height: 122px;
  font-family: "Segoe UI";
  width: 100%;
  margin-bottom: 2%; }

#list-entry-image {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #8901a7; }

#list-entry-date {
  font-size: 65%; }

#list-entry-username {
  font-size: 120%; }

#list-entry-text {
  font-size: 80%;
  margin-top: 1%; }

.vertical-line {
  background-color: #cbcdc7;
  width: 1px;
  margin-left: 10px;
  height: 100px;
  float: left;
  margin-right: 10px; }

#list-entry-title {
  font-size: 120%;
  margin-left: 1%; }

#list-entry-location {
  font-size: 80%;
  margin-top: 1%;
  margin-left: 1%; }

#list-entry-tags {
  margin-top: 2%; }

