@import "../partials/base";


#searchresults-maincontent{
	margin-top: 4%;
}

.list-template{
	border: 1px;
	border-color: $lightgrey;
	border-style: solid;
	padding: 10px;
	color: $black;
	height: 122px;
	font-family: $segoe;
	width: 100%;
	margin-bottom: 2%;
}

#list-entry-image{
	float: left;
	width: 100px;
	height: 100px;
	background-color: $purple;
}

#list-entry-date{
	font-size: 65%;
}

#list-entry-username{
	font-size: 120%;
}

#list-entry-text{
	font-size: 80%;
	margin-top: 1%;
}

.vertical-line{
	background-color: $lightgrey;
	width: 1px;
	margin-left: 10px;
	height: 100px;
	float:left;
	margin-right: 10px;
}

#list-entry-title{
	font-size: 120%;
	margin-left: 1%;
}

#list-entry-location{
	font-size: 80%;
	margin-top: 1%;
	margin-left: 1%;
}

#list-entry-tags{
	clear: left;
}

.list-entry-tag{

}







