@import "../partials/base";

.results-container{
	overflow: hidden;
	padding: $space_minus1 $space_plus1;

	.headline-container{
		margin-top: $space_minus1;
		margin-bottom: $space_minus1;
		padding-right: $space_minus1;
		padding-left: $space_minus1;
	}
}

.error-message{
	display: block;
	width: 300px;
	margin: $space_minus1 auto;
}

.infinite-container{
	position: relative;
	overflow: hidden;
	width: 100%;
	@include vertical-margin($space_minus3, $space_minus3);
	@include horizontal-margin($space_minus3, $space_minus3); 
}

#images{
	padding: 4px;

	img{
		vertical-align: bottom;
	}
}

.jg-image{
	overflow: hidden;
}

.transcription-container{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	/*font-size: $space_minus1;*/
	z-index: 3;
	cursor: pointer;

	div{
		display: table-cell;
		position: relative;
		vertical-align: middle;
		width: inherit;
		@include transcription-font();
	}
}

span.transcription{
	display: inline-block;
	position: relative;
	width: inherit;
	max-width: inherit;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: normal;
	/*text-overflow: ellipsis;*/
	line-height: $space_plus1;
}

.overlay{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 2;
}

.overlaytouch{
	display: block;
	position: absolute;
	width: 100%;
	height: 30%;
	top: 0;
	opacity: 0.5;
	z-index: 2;
	max-height: 80px;
}

.women{
	@extend .overlay;
	background-color: $pink;
}

.men{
	@extend .overlay;
	background-color: $blue;
}

.unisex{
	@extend .overlay;
	background-color: $darkgrey;
}

.women-touch{
	@extend .overlaytouch;
	background-color: $pink;
}

.men-touch{
	@extend .overlaytouch;
	background-color: $blue;
}

.unisex-touch{
	@extend .overlaytouch;
	background-color: $darkgrey;
}

.transcription-container-touch{
	display: block;
	position: absolute;
	width: 100%;
	top: 2%;
	text-align: center;
	font-size: $space_minus1;
	z-index: 3;

	div{
		display: block;
		position: relative;
		width: inherit;
		@include transcription-font();
	}
}

.transcription-container-touch span.transcription{
	display: inline-block;
	position: relative;
	width: inherit;
	max-width: inherit;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: $space_plus1;
}