@import "../partials/base";

/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/

body{
  color: black;
}

.details{
  padding: 32px;
}

#timeline-header{
	padding-bottom: 0;
}

.action{
  background: #eee;
  padding: .75em;
  margin-bottom: .5em;
}

.action.entry{
	border: 1px solid $grey;
}

.action.rating .icon-thumbs-down-1{
	color: $red;
}

.action.rating .icon-thumbs-up-1{
	color: $green;
}

.action.gender-w{
	border: 1px solid $pink;
}

.action.gender-m{
	border: 1px solid $blue;
}

.action .content{
	display: flex;
}

.action .container{
	display: inline-block;
}

.action .leftcontainer{
	margin-right: .75em;
}

.action .rightcontainer{

}

.action .comment{
	overflow: hidden;
	max-height: 64px;
	margin-top: .5em;
	font-size: .75em;
}

.action .time{
	font-size: .5em;
	float: right;
}

.action .time{
	font-size: .5em;
	float: right;
}
.action .gender{
	float: right;
	margin-top: -.75rem;
}
.action .gender.icon-male{
	color: $blue;
}
.action .gender.icon-female{
	color: $pink;
}
.action .gender.icon-help{
	color: $grey;
}

.action .info{
	font-size: .5em;
}