@import "../partials/base";

.upload-forms-container{
	@include vertical-margin($space_minus3, $space_minus3);
	@include horizontal-margin($space_minus3, $space_minus3); 

	textarea{
		display: block;
		width: 100%;
	}
}

#add-image-container{
	display: block;
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background-color: $black;
	overflow: hidden;
	@include vertical-margin($space_plus1, $space_plus1);
	border-radius: 180px;
	box-shadow: inset 0 0 0 16px rgba(200, 200, 200, 0.6),
 						0 1px 2px rgba(20, 20, 20, 0.3);
 	cursor: pointer;
	.add-image-text{
		display: block;
		position: absolute;
		top: 30%;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		text-align: center;
		line-height: $space_plus1;
		@include transcription-font();
	}

	.add-image-bg{
		display: block;
		position: absolute;
		width: 180px;
		height: 180px;
		transform: scale(0.1);
		opacity: 0.18;
		background: url('../../img/upload/upload_bg.png');
		background-position: center;
		background-size: cover;
	}
}

#add-image-container > div{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}


