@import "../partials/base";

/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/

body{
  color: black;
}

.details, .images-container{
  padding: $space_plus1;
  padding-bottom: 0;
}

#pictures-header{
	@include vertical-margin($space_minus2, $space_minus2);
}

#image-container #image{
  width: 100%;
}

#username{
  font-size: 2rem;
}

#level{
	font-size: .5rem;
	font-style: italic;
}

#joined{
  font-size: .5rem;
}

#online{
  font-size: .5rem;
}

#stats{
	margin-top: 1rem;
	font-size: .5rem;
}

#stats .amount{
	font-style: italic;
}

#achievements{
	margin-top: 1rem;
	font-size: .75rem;
}

#achievements .missing{
	font-size: .5rem;
	font-style: italic;
	background: #eee;
	padding: .5rem;
	margin-top: .5rem;
}

#achievements .achievement{
	display: inline-block;
	margin-right: .5rem;
	margin-top: .25rem;
	margin-bottom: .25rem;
  	background: #eee;
  	padding: .25rem;
  	font-size: .5rem;
}

#achievements .achievement .lvl2{
	color: #050;
}
#achievements .achievement .lvl3{
	color: #0a0;
}
#achievements .achievement .lvl4{
	color: #0f0;
}
#achievements .achievement .lvl5{
	color: #005;
}
#achievements .achievement .lvl6{
	color: #00a;
}
#achievements .achievement .lvl7{
	color: #00f;
}
#achievements .achievement .lvl8{
	color: #500;
}
#achievements .achievement .lvl9{
	color: #a00;
}
#achievements .achievement .lvl10{
	color: #f00;
}
#achievements .achievement .lvl11{
	color: #550;
}
#achievements .achievement .lvl12{
	color: #aa0;
}
#achievements .achievement .lvl13{
	color: #ff0;
}