/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/
.row {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.columns {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.full-width {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0; }

.space-plus1 {
  margin-top: 1.618rem;
  margin-bottom: 1.618rem; }

.space-plus2 {
  margin-top: 2.618rem;
  margin-bottom: 2.618rem; }

.space-plus3 {
  margin-top: 4.236rem;
  margin-bottom: 4.236rem; }

.space-plus4 {
  margin-top: 6.854rem;
  margin-bottom: 6.854rem; }

.space-plus5 {
  margin-top: 11.089rem;
  margin-bottom: 11.089rem; }

.space-plus6 {
  margin-top: 17.942rem;
  margin-bottom: 17.942rem; }

.space-plus7 {
  margin-top: 29.03rem;
  margin-bottom: 29.03rem; }

.space-plus8 {
  margin-top: 46.971rem;
  margin-bottom: 46.971rem; }

.space-minus1 {
  margin-top: 0.618rem;
  margin-bottom: 0.618rem; }

.space-minus2 {
  margin-top: 0.382rem;
  margin-bottom: 0.382rem; }

.space-minus3 {
  margin-top: 0.236rem;
  margin-bottom: 0.236rem; }

.space-minus4 {
  margin-top: 0.146rem;
  margin-bottom: 0.146rem; }

.space-minus5 {
  margin-top: 0.09rem;
  margin-bottom: 0.09rem; }

.space-minus6 {
  margin-top: 0.056rem;
  margin-bottom: 0.056rem; }

@font-face {
  font-family: "Goudy";
  src: url("../fonts/goudy.otf"); }

body {
  color: #ffffff; }

.button-overlay {
  color: #cbcdc7;
  height: auto;
  font-size: 1rem;
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcdc7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.button-overlay:hover {
  background-color: #cbcdc7;
  color: #111111;
  border-color: #cbcdc7; }

.button-overlay:focus {
  background-color: #cbcdc7;
  color: #111111;
  border-color: #cbcdc7; }

.button-normal {
  color: #111111;
  height: auto;
  font-size: 1rem;
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: #111111;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.button-normal:focus {
  background-color: #111111;
  color: #cbcdc7;
  border-color: rgba(0, 0, 0, 0); }

.button-normal:hover {
  background-color: #111111;
  color: #cbcdc7;
  border-color: rgba(0, 0, 0, 0); }

input[type="text"]#searchField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 5%;
  border: none;
  outline: none; }

input#register_input {
  margin-left: 5%;
  font-size: 100%; }

label#register-label {
  color: #111111;
  margin-left: 5%;
  margin-bottom: 0%;
  margin-top: 2%; }

input[type="email"].loginField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 5% 5% 2% 5%;
  border: none;
  outline: none; }

input[type="password"].loginField {
  color: #cbcdc7;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  font-size: 300%;
  width: 90%;
  margin: 0% 5% 5% 5%;
  border: none;
  outline: none; }

::-moz-placeholder {
  color: #cbcdc7; }

::-webkit-input-placeholder {
  color: #cbcdc7; }

:-ms-input-placeholder {
  color: #cbcdc7; }

/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/
body {
  color: black; }

p.tiny {
  font-size: 0.618rem; }

a.tiny {
  font-size: 0.618rem; }

div.tiny {
  margin-top: 0.382rem;
  margin-bottom: 0.382rem;
  font-size: 0.618rem; }

#headline i {
  display: none; }

.section {
  display: none; }

#notifications-header {
  text-align: center; }
  #notifications-header a {
    margin-right: 0.618rem; }
    #notifications-header a span {
      vertical-align: bottom;
      font-size: 0.618rem;
      margin-left: -0.25rem;
      margin-top: 0.6rem; }
  #notifications-header a.active {
    color: black; }
  #notifications-header #reports span {
    color: #ff4444; }
  #notifications-header #users span {
    color: #99cc00; }

#overview .graph {
  height: 15rem; }
  #overview .graph #chart-chart-div {
    height: 13rem; }
  #overview .graph #chart-control-div {
    height: 2rem; }

#users-table-header {
  font-size: 0.618rem; }

#users-table-content .user-table-row .user-unknown {
  opacity: 0.5; }
#users-table-content .user-table-row .user-new {
  color: #cccc11; }
#users-table-content .user-table-row .user-banned {
  color: #ff4444; }
#users-table-content .user-table-row .user-deleted {
  color: #ff4444; }
#users-table-content .user-table-row .user-unregistered {
  opacity: 0.5; }
#users-table-content .user-table-row .user-admin {
  color: #99cc00; }

#reports-table-content .report {
  width: 33%; }
#reports-table-content .report-table-row .report-ok {
  color: #B8B8B8; }
#reports-table-content .report-table-row .report-default {
  color: black; }
#reports-table-content .report-table-row .report-important {
  color: #ff4444; }

#locations-content #locations-map {
  height: 28rem;
  margin-bottom: 0.618rem; }
#locations-content #locations-table-container {
  height: 28rem;
  overflow-y: auto; }
  #locations-content #locations-table-container #locations-add-header {
    padding-left: 0.618rem;
    padding-top: 0.618rem; }
#locations-content .description button {
  float: right; }

#tags-content #tagscontainer .tag {
  display: inline-block;
  padding: 0.618rem;
  margin: 0.236rem;
  font-size: 0.618rem;
  background: #eee;
  color: #555; }

#types-content .type {
  padding: 0.618rem;
  margin: 0.236rem;
  font-size: 0.618rem;
  background: #eee;
  color: #555; }
  #types-content .type .input {
    display: none;
    width: 90%; }
  #types-content .type .edit {
    text-align: right; }

#types-add-content #add-type-container {
  display: none; }
#types-add-content .inputcontainer {
  padding-right: 0.618rem; }

section#logs .log {
  background: #eee;
  padding: 0.618rem;
  margin: 0.618rem; }
  section#logs .log table {
    margin-top: 0.618rem; }
