@import "../partials/base";

.infinite-container{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	@include vertical-margin($space_minus3, 0);
	@include horizontal-padding($space_minus3, $space_minus3);
}

#images{
	padding: 4px;

	img{
		vertical-align: bottom;
	}
}

.jg-image{
	overflow: hidden;

	.nsfw{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #111111;
		background: rgb(73,73,73);
		vertical-align: middle;
		color: $lightgrey;
		text-align: center;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(73,73,73,1) 3%, rgba(45,45,45,1) 46%, rgba(0,0,0,1) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(3%,rgba(73,73,73,1)), color-stop(46%,rgba(45,45,45,1)), color-stop(100%,rgba(0,0,0,1)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(73,73,73,1) 3%,rgba(45,45,45,1) 46%,rgba(0,0,0,1) 100%);
		background: -o-radial-gradient(center, ellipse cover,  rgba(73,73,73,1) 3%,rgba(45,45,45,1) 46%,rgba(0,0,0,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover,  rgba(73,73,73,1) 3%,rgba(45,45,45,1) 46%,rgba(0,0,0,1) 100%);
		background: radial-gradient(ellipse at center,  rgba(73,73,73,1) 3%,rgba(45,45,45,1) 46%,rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#000000',GradientType=1 );
		background-size: cover;
		background-position: center;
		pointer-events: none;
	}

	.nsfw-text{
		display: inline-block;
 		vertical-align: middle;
	}
	.nsfw:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em; /* Adjusts for spacing */
	}
}

.transcription-container{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	/*font-size: $space_minus1;*/
	z-index: 3;
	cursor: pointer;

	div{
		display: table-cell;
		position: relative;
		vertical-align: middle;
		width: inherit;
		@include transcription-font();
	}
}

span.transcription{
	display: inline-block;
	color: $white;
	position: relative;
	width: inherit;
	max-width: inherit;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: normal;
	/*text-overflow: ellipsis;*/
	line-height: $space_plus1;
}

.overlay{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 2;
}

.overlaytouch{
	display: block;
	position: absolute;
	width: 100%;
	height: 30%;
	top: 0;
	opacity: 0.5;
	z-index: 2;
	max-height: 80px;
}

.women{
	@extend .overlay;
	background-color: $pink;
}

.men{
	@extend .overlay;
	background-color: $blue;
}

.unisex{
	@extend .overlay;
	background-color: $darkgrey;
}

.women-touch{
	@extend .overlaytouch;
	background-color: $pink;
}

.men-touch{
	@extend .overlaytouch;
	background-color: $blue;
}

.unisex-touch{
	@extend .overlaytouch;
	background-color: $darkgrey;
}

.transcription-container-touch{
	display: block;
	position: absolute;
	width: 100%;
	top: 2%;
	text-align: center;
	font-size: 1rem;
	z-index: 3;

	div{
		display: block;
		position: relative;
		width: inherit;
		@include transcription-font();
	}
}

.transcription-container-touch span.transcription{
	display: inline-block;
	position: relative;
	width: inherit;
	max-width: inherit;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: $space_plus1;
}

.error-message{
	display: block;
	width: 300px;
	margin: $space_minus1 auto;
}

@media screen and (max-width: 640px){
	.jg-image{
		a{
			cursor: default;
		}
	}
}