@import "../partials/base";

/*
Base styles include setting heading sizes, default link styles, default
font styles, and body backgrounds; it doesn’t include any class or ID selectors
*/
/*
Insert code that doesn't output CSS, things like mixin declarations, functions, and variables.
*/

body{
  color: black;
}

.row{
	padding: $space_minus1;
}

.headline{
	font-size: $space_plus1;
}

.content{
	font-size: $space_minus1;
	vertical-align: middle;
	.text{
		margin-bottom: $space_minus1;
	}
	.images{
		.image{
			.title{
				font-size: $space_minus1;
			}
			img{
				margin-bottom: $space_minus1;
			}
			text-align: center;
			font-size: $space_plus2;
			.icon-thumbs-down-1{
				color: $red;
			}
			.icon-thumbs-up-1{
				color: $green;
			}
		}
	}
}